.video-container {
    height: 35vh;
    background-color: #555;
}

.video-feed {
    height: 100%;
}

.video-control {
    z-index: 1;
    background-color: rgba(43, 43, 43, 0.7);
    font-size: 1.45rem;
    height: 2rem;
    margin-top: -2rem;
    transform-origin: bottom;
    transition: opacity 300ms, transform 300ms, margin 300ms;
}

.video-control.hide {
    opacity: 0;
    transform: scaleY(0);
}

.notif {
    transition: opacity 300ms;
}

.notif.hide {
    opacity: 0;
}

.screenshots {
    max-height: 35vh;
}

.card-link {
    text-decoration: none;
}