{% extends "base.html" %}

{% block prescripts %}
<script src="/static/js/client.js"></script>
{% endblock %}

{% block content %}
<div class="container-lg">
    <div class="row">
        <div class="col-12 col-lg-6" id="camera-1">
            <h3>Камера №1</h3>
            <div class="card video-container">
                <video id="video" autoplay="true" muted="muted" playsinline="true" class="video-feed"></video>
                <div class="video-control text-light text-end">
                        <span class="px-2 float-start text-warning fps">25</span>

                        <i class="px-2 bi bi-save2-fill notif saved_notif text-success hide"></i>

                        <i class="px-2 bi bi-camera-video record_btn"></i>
                        <i class="px-2 bi bi-camera screenshot_btn"></i>
                        <i class="px-2 bi bi-person-check recognition_btn"></i>
                        <i class="px-2 bi bi-fullscreen fullscreen_btn"></i>
                </div>
            </div>
        </div>
        <div class="overflow-auto col-12 col-lg-6 screenshots">
            <h3>Сохраненные фото</h3>
            <div class="row row-cols-3 row-cols-lg-4 g-1" data-bs-spy="scroll">
                {% for p in photos %}
                <div class="col">
                    <a href="/photo/{{ p.id }}" class="text-body card-link">
                        <div class="card h-100">
                            <img src="/photo_file/{{ p.id }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">{{ p.name }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="overflow-auto col-12 col-lg-6 videos">
            <h3>Сохраненные видео</h3>
            <div class="row row-cols-3 row-cols-lg-4 g-1" data-bs-spy="scroll">
                {% for v in videos %}
                <div class="col">
                    <a href="/video/{{ v.id }}" class="text-body card-link">
                        <div class="card h-100">
                            <img src="/video_preview/{{ v.id }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">{{ v.name }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
